body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
}
#clock{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid #FFFF00;
	padding: 10px;
}